body{
    background: linear-gradient(90deg, #C7C5F4,#5D54A4);		
	position: relative;		
	box-shadow: 524px 524px 24px #5C5696;
}

.p0{
	font-family: Comic Sans MS;
}

.p1 {
	font-family: cursive;
}

.p2{
	font-family: Bahnschrift SemiBold;	

}
 
.p3{
	font-family: Microsoft New Tai Lue	
	;
}

a:link {
	color: black;
  }
  
  a:hover {
	color: blue;
  }
  
  a:active {
	color: green;
  }